<h1>系統指派</h1>
<div class="pull-right"><a href="/mission">出勤中救護車</a></div>
<input type="hidden" value="<%= URI.escape("/smart_emergency/?#{@smart_url}") %>" id="this_url">

<h3>以下為到災點的救護車指派建議 ( 有<%= @total_injure %>位病患 )</h3>

<h4>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group vcenter">
              <label for="setup" class="col-sm-6 control-label">設置時間</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="setup" value="<%= @setup_time %>">
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group vcenter">
              <label for="speed" class="col-sm-6 control-label">救護車時速</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" id="speed" value="<%= @speed.round(4) %>" >
              </div>
            </div>

        </div>
        <div class="col-md-2">
            <button class="btn btn-success" id="reset">重設</button>
            <button class="btn btn-link" data-container="body" data-toggle="popover" data-placement="right" data-content="這兩個參數為用來預估指派方式的參數。<br>設置時間為救護車到災點以及到醫院的預估處理時間 ">
                <i class="glyphicon glyphicon-question-sign" ></i>
            </button>
        </div>
    </div>
</h4>
<table class="table"> 
    <thead>
        <tr>
            <th>名稱</th>
            <th>消防局電話</th>
            <th>災點</th>
            <th>抵達災點時間</th>
            <th>到醫院時間</th>
            <th>送至醫院</th>
            <th></th>
        </tr>
    </thead>
    <% @schedule.each do |data| %>
    <tr>
        <td><%= data[:name] %></td>
        <td><%= data[:phone] %></td>
        <td>災點<%= data[:disaster_id]%></td>
        <td class="time" id="dis_time_<%= data[:rand_id]%>"><%= data[:time_disaster]*1000%></td>
        <td class="time" id="hos_time_<%= data[:rand_id]%>"><%= data[:time_hospital]*1000%></td>
        <td><%= data[:hos_name] %></td>
        <td>
            <button class="btn btn-link js-ambulance" data-id="<%= data[:id] %>" data-toggle="modal" data-target="#myModal" data-hos-id="<%= data[:hos_id] %>" data-disaster="<%= data[:disaster_id]%>">詳細資訊</button>
        </td>
        <input type="hidden" class="js-assign" data-name="<%= data[:name] %>" data-hospital="<%= data[:hos_name] %>" data-id="<%= data[:id] %>" data-rand="<%= data[:rand_id] %>">
    </tr>
    <% end %>
</table>
<div class="result  right">
    <h3>共指派 <span id="total"><%= @total_injure %></span>台救護車</h3>
    <button class="btn btn-success" id="assign-submit">一鍵指派</button>    
</div>

<hr>

<% if @d_to_hospital.length > 0 %>
    <div class="h4 pyb2">可送至以下醫院: (以下為此醫院即時資料)</div>
    <table class="table">
        <thead>
            <tr>
                <th>醫院名稱</th>
                <th>距離(km)</th>
                <th>向119通報滿床</th>
                <th>待看診</th>
                <th>待推床</th>
                <th>待住院</th>
                <th>待加護住院</th>
            </tr>
        </thead>
        <% @d_to_hospital.each do |index,ary| %>
            <tr>
                <td><%= ary[:name] %></td>
                <td><%= ary[:distance] %></td>
                <td><%= ary[:report_full] %></td>
                <td><%= ary[:wait_see] %></td>
                <td><%= ary[:wait_push_bed] %></td>
                <td><%= ary[:wait_bed] %></td>
                <td><%= ary[:wait_cure_bed] %></td>
            </tr>
        <% end %>
    </table>
<% else %>
    <div class="h4 pyb2">附近並無大醫院，可考慮相關診所做初步急救措施</div>
    <ul>
        <li><% @clinic %></li>
    </ul>
<% end %>

<hr>
<% @geo_hash.each do |k, v| %>
    <input type="hidden" id="lat<%= k %>" value="<%= v[:lat] %>">
    <input type="hidden" id="lng<%= k %>" value="<%= v[:lng] %>">
<% end %>
<%= render "units/bootstrap_modal" %>
<input type="hidden" value="<%= @lat %>" id="end_lat">
<input type="hidden" value="<%= @lng %>" id="end_lng">
<% content_for :javascript do %>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>
<script async="async" data-turbolinks-track="true" src="/assets/dist/ai_ambulance.js"></script>
<% end %>