<h3>你的所在位置為
    <% if @address.length > 0 %>
        <%= @address %>
    <% else %>
        <%= @lat.to_f.round(4) %>, <%= @lng.to_f.round(4) %>
    <% end %>。
    以下顯示你鄰近的診所
</h3>
<h4 style="color: red">注意：依據科別檢索時，因部份診所並未在衛福部登記科別資訊，故無法呈現。</h4>
<div id="subject_button"></div>
<input type="hidden" id="lat_val" value="<%= @lat %>">
<input type="hidden" id="lng_val" value="<%= @lng %>">
<div class="row">
    <div class="col-md-4" style="height:80vh; overflow:scroll">
        <div id="list_area">
            <div class="spin-container center"  style="margin-top:5em">
                <div id="spin"></div>
                <div style="padding-top:7em">讀取中...</div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div id="gmap"></div>
    </div>
</div>

<% content_for :javascript do %>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>
<script async="async" data-turbolinks-track="true" src="/assets/dist/clinic_search.js"></script>
<% end %>
