<div class="pull-right"><a href="/mission">出勤中救護車</a></div>


<h3>鄰近救護車 <span class="h4">(有<%= @injure %>位病患)</span></h3>
<table class="table">
    <thead>
        <tr>
            <th>距離(km)</th>
            <th>機構名稱</th>
            <th>電話</th>
            <th>救護車數</th>
            <th>建議</th>
            <th></th>
        </tr>
    </thead>
    <% @abmulance_hash.each do |distance, data| %>
    <tr>
        <td><%= distance %></td>
        <td><%= data["name"] %></td>
        <td><%= data["phone"] %></td>
        <td><%= data["exist"] %></td>
        <td>
            <% if @suggest_ambulance[distance] %>
                <input type="number" value="<%= @suggest_ambulance[distance] %>" min="0" max="<%= data["number"] %>" class="js-assign" data-id="<%= data["id"] %>">
            <% else %>
                <input type="number" value="0" min="0" max="<%= data["number"] %>" class="js-assign" data-id="<%= data["id"] %>">
            <% end %>
        </td>
        <td>
            <button class="btn btn-link js-ambulance" data-id="<%= data["id"] %>" data-toggle="modal" data-target="#myModal">詳細資訊</button>
        </td>
    </tr>
    <% end %>
</table>

<button class="btn btn-success pull-right" id="assign-submit">一鍵指派</button>

<hr>
<div class="h4 pyb2">可送至以下醫院:</div>
<ul>
    <% @d_to_hospital.each do |ary| %>
        <li class="h5"><%= ary[:name] %>: <%= ary[:distance] %> km</li>
    <% end %>    
</ul>

<hr>
<% if @victims %>
    <a href="/shelter?lat=<%= @lat %>&amp;lng=<%= @lng %>&amp;victims=<%= @victims %>">災民收容所</a>
<% end %>

<%= render "units/bootstrap_modal" %>
<input type="hidden" value="<%= @lat %>" id="end_lat">
<input type="hidden" value="<%= @lng %>" id="end_lng">
<% content_for :javascript do %>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>
<script async="async" data-turbolinks-track="true" src="/assets/dist/emergency.js"></script>
<% end %>