<% if @shelter_hash.length > 0 %>
    <h2>鄰近災民收容所列表</h2>
    <div class="h4">有<%= @victims %>位災民</div>
    <table class="table">
        <thead>
            <tr>
                <th>距離(km)</th>
                <th>收容所名稱</th>
                <th>縣市</th>
                <th>地址</th>
            </tr>
        </thead>
        <% @shelter_hash.each do |distance, ary| %>
            <tr>
                <td><%= distance %></td>
                <td><%= ary["災民收容所名稱"] %></td>
                <td><%= ary["所在縣市"] %></td>
                <td><%= ary["收容所地址"] %></td>
            </tr>
        <% end %>
    </table>
<% end %>