<% content_for :javascript do %>
    <%= javascript_include_tag "dist/shelter" %>

<% end %>

<div class="banner-container py2">
    <div class="banner">EMRAIT</div>
    <div class="center h4">鄰近災民收容所查詢</div>
</div>
<hr>
<div class="form-container">
    <form class="form-horizontal" method="get" action="shelter_result">
        <div class="row col-md-offset-2">
        <div class="form-group">
            <div class="col-md-2">
                <select class="form-control" id="location-select">
                    <option value="location">地址</option>
                    <option value="geocode">座標</option>
                </select>
            </div>
            <div id="location-input">
                <div class="col-md-7" id="location">
                    <input type="text" class="form-control" name="address" placeholder="輸入所在地址" id="address" required>
                    <input type="hidden" name="lat" id="lat" required>
                    <input type="hidden" name="lng" id="lng" required>
                </div>
            </div>
            <span id="msg" class="col-md-4"></span>
        </div>

        <div class="form-group">
            <label for="victims" class="col-md-2 control-label">災民人數</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="victims" placeholder="災民人數" name="victims">
            </div>
        </div>
        </div>
        <div class="row center">
            <button type="submit" class="btn btn-primary btn-submit" disabled="disabled" id="submit">查詢</button>
        </div>

    </form>
</div>
<hr>
<div id="real_time_info" class="left">
    <h4>災民收容所即時資訊</h4>
    <% @all_event.each do |k| %>
        <div class="row mb3">
            <div class="col-md-3">
                <%= k[:name] %>說 : <%= k[:content] %>
            </div>
            <div class="col-md-3">
                <a href="/shelter/<%= k[:shelter_id] %>"><%= Shelter.find(k[:shelter_id])[:name]%></a>
            </div>
        </div>
    <% end %>
</div>
