<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{name}}</h4>
  </div>

  <div class="modal-body">
    <ul class="h4 mb2">
        <li>地址：{{address}}</li>
        <li>電話：{{phone}}</li>
    </ul>
    <hr>
    <div class="mb3">
      <h4>點選規劃路徑至以下醫院</h4>
      {{#if hospital}}
        {{#each hospital}}
            <button class="btn btn-default js-hospital" data-lng="{{lng}}" data-lat="{{lat}}">{{name}}</button>
        {{/each}}
      {{/if}}
      <h4>從{{name}}(A)到災點(B)<span id="hospital-route"></span>的路徑</h4>
    </div>
    <div id="map"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>