<!DOCTYPE html>
<html>
    <head>
        <title>EMRAIT</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">
            <%= render "units/header" %>
            <%= yield %>
        </div>
       <%= yield :javascript %>
    </body>
</html>