<!DOCTYPE html>
<html>
    <head>
        <title>EMRAIT</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <%= yield :stylesheet %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render "units/header" %>
        <%= yield %>
        <%= yield :javascript %>
        <%= render "units/footer" %>
    </body>
</html>